.cell {
  display: flex;
  border-radius: 0.4vmin;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  text-align: center;
  line-height: normal;
}

.cell.with-margin {
  margin: 0.4vmin;
}

.with-text-style {
  font-family: "Arial", "Courier New", "Lucida Console", monospace;
  font-weight: bold;
  text-transform: uppercase;
}
